<h1>Product Form</h1>
  <%= form_for @product, remote:true do |f| %>
    Name: <%= f.text_field :name %>
    Description: <%= f.text_field :description %>
    Image URL: <%= f.text_field :image %>
    Price: <%= f.number_field :price %>
  <%= f.submit "Submit" %>
<% end %>
