<h3>Products</h3>
<div id="modal-background" onclick="$(this).hide();">
  <div id="info-div"></div>
</div>
<% if current_user && current_user.admin %>
  <%= link_to "add a product", new_product_path, remote:true %>
  <div id="new-product-form"></div>
<% end %>
<div class="row">
  <div class="section">
    <% @products.each do |product| %>
      <div class="col s4">
        <%= link_to product_path(product), remote:true do %>
          <h4><%= product.name %></h4>
          <p><%= number_to_currency product.price %></p>
          <% end %>
        <%= form_for @order_item, remote: true do |f| %>
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.number_field :quantity, :required => true, placeholder: "Quantity" %>
          <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
